@page "/inventory"

@inject IViewInventoryByName ViewInventoryByName
@inject IEditInventory EditInventory

<PageTitle>Inventory</PageTitle>

<ul>
    @foreach(var inv in _inventories)
    {
        <li>
            @inv.InventoryName
        </li>   
    }    
</ul>

@code {
    private List<Inventory> _inventories = new List<Inventory>();

    protected override async Task OnInitializedAsync()
    {
        var inventory = new Inventory();
        
        await EditInventory.ExecuteAsync(inventory);
        
        _inventories = (await ViewInventoryByName.ExecuteAsync()).ToList();
    }

}