@using IMS.UseCases.Products.Interfaces
@inject IViewProductsByName ViewProductsByName
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <ProductListItemComponent Products="_listOfProducts"></ProductListItemComponent>
    </tbody>
</table>

@code {
    private List<Product> _listOfProducts = new();
    
    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;
    
    protected override async Task OnParametersSetAsync()
    {
        _listOfProducts = (await ViewProductsByName.ExecuteAsync(SearchTerm)).ToList();
    }
}